@import 'theme';

.saved-img,
.stream-img
{
	max-width: 40vw;
	max-height: 35vh;
	border: 2px gray solid;
	border-radius: 2px;
}

.log
{
	padding: 2px;  
	overflow: auto;
  	overflow-y: auto;
}

.connect
{
	margin-left: auto;
}

.root-left
{
	width: 40vw;
}

.dispensing-events-container
{
	align-self: auto;
}

.dispensing-table-Amount input
{
	width: 3rem;
}